.header-container{
    display: flex;
    flex-direction: column;
    background-color: #ffcaaf;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: space-between;;
    align-items: center;
}
.header-container-up{
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: space-around;;
    align-items: center;
}

.imagen-logo{
    width: 100px;
    height: 100px;
    padding: 20px;
}

nav{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    border-top: 3px solid #f38951;
    & a {
        text-decoration: none;
        color: #f38951;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        &:hover{
            text-shadow: 1px 1px 2px black;
        }
    }
}

.nombre-tienda{
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px;
    color: #f38951;
}