@import "../base/variables";

.header-container {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: space-between;
    z-index: 4;
    .header-container-up {
        display: flex;
        background-color: $primary-bg-color;
        height: 75%;
        justify-content: space-between;
        align-items: center;
        box-shadow: $primary-box-shadow;
        @media (max-width: 800px) {
            .navigation {
                display: none !important; // Añado el !important porque sino no se sobreescribe el display flex que tiene puesto 
            }
        }
        @media (min-width: 800px) {
            .hamburger-menu {
                display: none; 
            }
        }
        .image-logo {
            width: $logo-size;
            height: $logo-size;
            padding: 10px;
        }
        .navigation {
            display: flex;
            justify-content: center;
            gap: $nav-gap;
            height: 100%;
            align-items: center;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: $secondary-text-color;
                font-family: $primary-font-family;
                font-weight: 200;
                font-size: $nav-font-size;
                &:hover {
                    border-top: 3px solid $link-border-hover-color;
                    border-bottom: 3px solid $link-border-hover-color;
                }
            }
        }
        .header-options {
            display: flex;
            gap: $options-gap;
            padding: $link-padding;
            align-content: center;
            a {
                height: $link-height;
                text-decoration: none;
                .language-selector {
                    font-family: $primary-font-family;
                    color: white;
                    border-bottom: 2px solid white;
                }
                img {
                    width: $icon-size;
                    height: $icon-size;
                }
            }
        }
    }
    .header-container-down {
        display: flex;
        align-items: center;
        box-shadow: $primary-box-shadow;
        height: 25%;
        overflow: hidden;
        .scrolling-text-container {
            font-family: $primary-font-family;
            color: $primary-text-color;
            font-weight: 200;
            white-space: nowrap;
            animation: scrollLeftRight 60s linear infinite;
        }
    }
}
@keyframes scrollLeftRight {
    0%,100% {
        transform: translateX(0%);
    }
    99% {
        transform: translateX(-100%);
    }
}

