@charset "UTF-8";
.header-container {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: space-between;
}
.header-container .header-container-up {
  display: flex;
  background-color: #263740;
  height: 75%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 28px -10px rgba(0, 0, 0, 0.82);
}
@media (max-width: 800px) {
  .header-container .header-container-up .navigation {
    display: none !important;
  }
}
@media (min-width: 800px) {
  .header-container .header-container-up .hamburger-menu {
    display: none;
  }
}
.header-container .header-container-up .image-logo {
  width: 60px;
  height: 60px;
  padding: 10px;
}
.header-container .header-container-up .navigation {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 100%;
  align-items: center;
}
.header-container .header-container-up .navigation a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}
.header-container .header-container-up .navigation a:hover {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.header-container .header-container-up .header-options {
  display: flex;
  gap: 20px;
  padding: 10px;
  align-content: center;
}
.header-container .header-container-up .header-options a {
  height: 18.5px;
  text-decoration: none;
}
.header-container .header-container-up .header-options a .language-selector {
  font-family: "Exo 2", sans-serif;
  color: white;
  border-bottom: 2px solid white;
}
.header-container .header-container-up .header-options a img {
  width: 22px;
  height: 22px;
}
.header-container .header-container-down {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 28px -10px rgba(0, 0, 0, 0.82);
  height: 25%;
  overflow: hidden;
}
.header-container .header-container-down .scrolling-text-container {
  font-family: "Exo 2", sans-serif;
  color: gray;
  font-weight: 200;
  white-space: nowrap;
  animation: scrollLeftRight 60s linear infinite;
}

@keyframes scrollLeftRight {
  0%, 100% {
    transform: translateX(0%);
  }
  99% {
    transform: translateX(-100%);
  }
}
.footer-container {
  display: flex;
  background-color: #263740;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  box-shadow: 1px 1px 28px -10px rgba(0, 0, 0, 0.82);
  justify-content: space-around;
}
.footer-container .footer-cliente {
  font-family: "Exo 2", sans-serif;
  padding: 10px;
  text-align: center;
  color: white;
}
.footer-container .footer-cliente a {
  color: white;
  text-decoration: none;
}
.footer-container .footer-company {
  font-family: "Exo 2", sans-serif;
  color: white;
  padding: 10px;
  text-align: center;
}
.footer-container .footer-company a {
  color: white;
  text-decoration: none;
}
.footer-container .footer-social-media {
  font-family: "Exo 2", sans-serif;
  color: white;
  padding: 10px;
  text-align: center;
}
.footer-container .footer-social-media img {
  width: 30px;
  height: 30px;
}

.main-content-container {
  background-color: grey;
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  box-shadow: 1px 1px 28px -10px rgba(0, 0, 0, 0.82);
}
@media (max-width: 600px) {
  .main-content-container {
    grid-column-start: 1;
  }
}

.sidebar-container {
  background-color: white;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.sidebar-container .sidebar-categorys-and-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Exo 2", sans-serif;
  color: rgb(93, 93, 93);
}
.sidebar-container .sidebar-categorys-and-filters .sidebar-categorys h1 {
  margin-top: 0px;
}
.sidebar-container .sidebar-categorys-and-filters .sidebar-categorys div {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 1px solid rgb(93, 93, 93);
}
@media (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}

.button-catalogo {
  background-color: #263740;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Exo 2", sans-serif;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #263740;
}
.button-catalogo:active {
  color: #263740;
  background-color: white;
}

.jabon {
  min-width: 300px;
  width: 60%;
  height: 236px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  font-family: "Exo 2", sans-serif;
  padding: 5px;
  text-align: center;
  box-shadow: 1px 1px 28px -10px rgba(0, 0, 0, 0.82);
}
.jabon img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .jabon img {
    min-width: 100px;
    width: 10%;
  }
}
.jabon .price::after {
  content: "€";
}
@media (max-width: 600px) {
  .jabon {
    width: 10%;
    min-width: 170px;
  }
}

.jabon {
  min-width: 300px;
  width: 60%;
  height: 236px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  font-family: "Exo 2", sans-serif;
  padding: 5px;
  text-align: center;
  box-shadow: 1px 1px 28px -10px rgba(0, 0, 0, 0.82);
}
.jabon img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .jabon img {
    min-width: 100px;
    width: 10%;
  }
}
.jabon .price::after {
  content: "€";
}
@media (max-width: 600px) {
  .jabon {
    width: 10%;
    min-width: 170px;
  }
}

.button-catalogo {
  background-color: #263740;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Exo 2", sans-serif;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #263740;
}
.button-catalogo:active {
  color: #263740;
  background-color: white;
}

.catalog-h1 {
  text-align: center;
  background-color: white;
  color: rgb(93, 93, 93);
  font-family: "Exo 2", sans-serif;
  box-shadow: 1px 1px 28px -10px rgba(0, 0, 0, 0.82);
}

.catalog {
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: 20px;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1024px) {
  .catalog {
    grid-template-columns: 1fr 1fr; /* 2 columnas en pantallas menores a 1024px */
  }
}

.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.registro-container .registro {
  padding: 11px;
  width: 500px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 28px -10px rgba(0, 0, 0, 0.82);
}
.registro-container .registro form div label {
  font-family: "Exo 2", sans-serif;
}
.registro-container .registro form div input {
  width: 95%;
  border: 2px solid #263740;
  border-radius: 4px;
  color: #263740;
}
.registro-container .registro form div input:required + span::after {
  font-family: "Exo 2", sans-serif;
  color: red;
  content: "*";
}
.registro-container .registro form div input:invalid {
  border: 2px solid red;
}
.registro-container .registro button {
  background-color: #263740;
  width: 100%;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Exo 2", sans-serif;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #263740;
}
.registro-container .registro button:active {
  color: #263740;
  background-color: white;
}
.registro-container .registro h1 {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  color: rgb(93, 93, 93);
}

body {
  margin: 0;
  height: 100%;
}

.layout-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 105px 1fr 150px;
}
@media (max-width: 600px) {
  .layout-grid {
    grid-template-rows: 105px 1fr 200px;
  }
}/*# sourceMappingURL=main.css.map */