@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-content";
@import "./layout/sidebar";
@import "./base/variables";
@import "./components/buttons";
@import "./components/cards";
@import "./views/catalog";
@import "./views/register";

body{
    margin: 0;
    height: 100%;
}

.layout-grid {
    display: grid;
    height: 100vh;

    grid-template-columns: 230px 1fr;
    grid-template-rows: 105px 1fr 150px;
    @media(max-width: 600px){
        grid-template-rows: 105px 1fr 200px;
    }
}

