$primary-font-family: "Exo 2", sans-serif;
$primary-bg-color: #263740;
$box-shadow: 3px 3px 2px 2px gray;
$logo-size: 60px;
$icon-size: 22px;

$text-color: gray;
$link-color: white;
$link-hover-color: white;
$link-focus-color: rgb(10, 16, 67);

$spacing: 10px;


$link-height: 22px;
$link-padding: 10px;
$nav-gap: 30px;
$nav-font-size: 1rem;
$name-store-font-size: 1.5rem;
$options-gap: 20px;