// Fuente de la pagina
$primary-font-family: "Exo 2", sans-serif;

// Colores de fondo
$primary-bg-color: #263740;
$secondary-bg-color: white; 

// Color de fondo boton
$button-border-color: #263740;

// Color de fondo boton [hover]
$button-hover-bg-color: #1f2528;

// Sombra de contenedores
$primary-box-shadow: 1px 1px 28px -10px rgba(0,0,0,0.82);

// Tamaño de logos
$logo-size: 60px;

// Tamaño de iconos
$icon-size: 22px;

// Color de los textos
$primary-text-color: gray;
$secondary-text-color: white;
$tertiary-text-color: rgb(93, 93, 93);

// Color del borde de botones
$button-border-color: #263740;

// Color de los bordes de arriba y abajo de los links [hover]
$link-border-hover-color: white;

$link-height: 18.5px;
$link-padding: 10px;
$nav-gap: 30px;
$nav-font-size: 1rem;
$name-store-font-size: 1.5rem;
$options-gap: 20px;