$primary-font-family: "Exo 2", sans-serif;
$primary-bg-color: #263740;
$tertiary-bg-color: grey;
$box-shadow: 3px 3px 2px 2px gray;
$logo-size: 60px;
$icon-size: 22px;
$primary-text-color: gray;
$secondary-text-color: white;
$fourth-text-color: #263740;
$link-hover-color: white;
$link-focus-color: rgb(10, 16, 67);
$tertiary-text-color: rgb(93, 93, 93);
$tertiary-text-color: rgb(93, 93, 93);
$secondary-bg-color: white;
$spacing: 10px;
$primary-box-shadow: 1px 1px 28px -10px rgba(0,0,0,0.82);
$link-height: 18.5px;
$link-padding: 10px;
$nav-gap: 30px;
$nav-font-size: 1rem;
$name-store-font-size: 1.5rem;
$options-gap: 20px;